{% extends "base.html" %}

{% block title %}
    Tasks
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p>
                <a href="{% url 'todo_item_create' %}?todo_list={{ todo_list.id }}">Create a new item</a>
            </p>
            <p>
                <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
            </p>
            <h2>Incomplete Tasks</h2>
            <table>
                    <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in incomplete_tasks %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                            <td>{{ item.due_date | date:"Y-m-d" | default:"No Due Date" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Completed Tasks</h2>
            <table>
                <thead>
                <tr>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>
                {% for item in completed_tasks %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </main>
{% endblock content %}
