{% extends "base.html" %}

{% block title %}
    Update/Delete Item
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>Update/Delete Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button name="update">Update</button>
                <button name="delete">Delete</button>
            </form>
        </div>
    </main>
{% endblock content %}
