<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <nav>
        <a href="{% url 'todo_list_list' %}">Todo Lists</a>
    </nav>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>
